<!-- if the showAddTask property is true, then the following form is displayed -->

<!-- binds the onSubmit() method to a ngSubmit directive -->
<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <!-- (ngModel) -> 2 way binding -->
        <input type="text" name="text" id="text" placeholder="Add Task" [(ngModel)]="text">
    </div>
    <div class="form-control">
        <label for="day">Select a Date</label>
        <input type="text" name="day" id="date" placeholder="Add Day and Time" [(ngModel)]="day">
    </div>
    <div class="form-control form-control-check">
        <label for="time">Reminder</label>
        <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder">
    </div>
    <input type="submit" value="Save Task" class="btn btn-block">
</form>